@model IEnumerable<IntegriraniSistemiH1.DAL.Entities.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="DownloadCSV">Download user import CSV template</a>
</p>

<form method="post" enctype="multipart/form-data" asp-action="ProcessCSV">
    <div class="form-group">
        <label for="csvFile">Upload CSV File to import users:</label>
        <input type="file" id="csvFile" name="csvFile" class="form-control-file" />
    </div>
    <button type="submit" class="btn btn-primary">Upload New Users</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |

                </td>
            </tr>
        }
    </tbody>
</table>
